# Application
web/app/plugins/*
!web/app/plugins/woocommerce-box-office
!web/app/plugins/woocommerce-name-your-price
!web/app/mu-plugins/advanced-custom-fields-pro-master
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Trellis Sync
database_backup/*