// Vendor variables
$fa-font-path:          '~font-awesome/fonts';

// Grid settings
$main-sm-columns:             10;
$sidebar-sm-columns:          4;
$grid-columns:                12 !default;
$grid-gutter-width:           20px;
$enable-grid-classes:         false;


// Colors
$color-facebook:		        #3b5998;
$color-twitter: 		        #55ACEE;
$color-reddit:			        orangered;
$color-google-plus: 	      #D34836;
$color-pinterest: 		      #cb2027;

$brand-success:             #af01df; // purple
$brand-primary:             darken($brand-success, 10%); // yellow
$brand-info:                darken(#cd3333,20%);
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

$theme-colors: (
  primary: $brand-primary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger
);


$font-size-h1:              2rem; 
$font-size-h2:              2rem;
$font-size-h3:              1.2rem;
// $font-size-h4:          18px; // ~18px
// $font-size-h5:          $font-size-base !default;
// $font-size-h6:          ceil(($font-size-base * 0.85)) !default; // ~12px


$font-family-sans-serif:  Oxygen, sans-serif;


$headings-font-family:    Oxygen, sans-serif;
$headings-font-weight:    300;
$headings-line-height:    1.1;
$headings-color:          #444;



$body-bg:                 black;
$text-color:              #333;
$line-height-base:        1.45;

$link-color:              $brand-success;
$link-hover-color:        darken($brand-success,10%);

$nav-link-padding: 		    6px 5px;
$nav-link-hover-bg: 	    inherit;
$nav-link-color:		      $brand-success;
