.content-info{
	@include media-breakpoint-up(md) {
		@include make-row();
	}
	margin-bottom:8rem;
	color: white !important;
	transition: opacity .5s, background 1s;
	opacity: .6;
	position: relative;
	&:hover{
		// background-color: rgba(black,.3);
		opacity: 1;
	}
	a{
		color: white;
		transition: color .5s, fill .5s;
		padding-bottom: 0;
		padding-top: 1rem; // overrides nav & link padding :)
		border-bottom: 2px solid transparent;
		&:hover, &:focus{
			border-bottom: 2px solid $brand-success;
			text-shadow: rgba(black,0.5%) 1px 1px 1px;
			.social-svg-path{
				fill: $brand-success;
				transition: color .5s, fill .5s;
			}
		}
		.social-svg-path{
			fill: #FFF;
		}
	}

	.email{
	}
	p{
		margin-top: 1rem;
	}
	.nav{
		flex-direction: column;
	}
}


@include media-breakpoint-up(md) {
	.third{
		text-align: right;
	}
}


.running-runner{
	background: url(../images/runningrunner.gif) no-repeat center;
	background-size: contain;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 15px;
	top: -55px;
	overflow: visible;
	z-index: 999;
}