.content-info{
	@include media-breakpoint-up(md) {
		@include make-row();
		transition: opacity .5s, background 1s;
		opacity: .6;			
	}
	margin-bottom:8rem;
	color: white !important;
	position: relative;
	&:hover{
		// background-color: rgba(black,.3);
		opacity: 1;
	}
	@include media-breakpoint-down(md) {
		.quarter{
			margin-top: 2rem;
		}
		.social-links{
			margin: 1rem 0;
		}
	}
	a{
		color: white;
		transition: color .5s, fill .5s;
		border-bottom: 2px solid transparent;
		padding: 0.5rem 0.5rem 0;
		&:hover, &:focus{
			border-bottom: 2px solid $brand-success;
			text-shadow: rgba(black,0.5%) 1px 1px 1px;
			.social-svg-path{
				fill: $brand-success;
				transition: color .5s, fill .5s;
			}
		}
		.social-svg-path{
			fill: #FFF;
		}
	}

	p{
		margin-top: 1rem;
	}
	.nav{
		flex-direction: column;
	}
}



.running-runner{
	background: url(../images/runningrunner.gif) no-repeat center;
	background-size: contain;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 15px;
	top: -55px;
	overflow: visible;
	z-index: 999;
}