/*
 * all pages
 *
 */
.page-title{
	margin-top: 3rem 0 1rem;
}
@include media-breakpoint-up(md) {
	.page-header{
		border-bottom: 0;
		margin: 1rem 0 3rem;
	}
}
.page article{
	@extend .clearfix;
	margin: 0 0 7rem;
}
.heading-block{
	@extend .clearfix;
	background-color: rgba(black,.6);
	color: $brand-success;
}
.news-heading{
	margin: 3rem 0;
	// display: inline-block;
	font-size: 5rem;
	&:hover{
		text-decoration: none;
	}
}


/*
 * home page
 *
 */

.home .main{
	// padding-top: 5rem;
	padding-bottom: 5rem;
	.btn-twitter-nojs{
		max-width: 400px;
	}
}

@include media-breakpoint-up(md) {
	.mc4wp-form{
		padding: 16px 26px;
	}
	.sidebar{
		max-width: 320px;
		// margin-right: 3rem;
		float: right;
	}
}
/*
 * about page
 *
 */
.pacers{
	// font-size: 1.4rem;
	// @media (min-width: $screen-md-min) {
	// 	margin-left: -9%;
	// 	margin-right: -9%;
	// 	width: 920px;
	// }
	h3{
		font-size: 22px;
		// margin-top: 0;
	}
}
