/*
 * all pages
 *
 */
.page-title{
	margin: 2rem 0;
}
@include media-breakpoint-up(md) {
	.page-title{
		border-bottom: 0;
		margin: 3rem 0;
	}
}
.page article{
	@extend .clearfix;
	margin: 0 0 7rem;
}
.heading-block{
	@extend .clearfix;
	background-color: rgba(black,.6);
	color: $brand-success;
}
.news-heading{
	margin: 3rem 0;
	// display: inline-block;
	font-size: 5rem;
	&:hover{
		text-decoration: none;
	}
}


/*
 * home page
 *
 */

.home .main{
	h3{
		font-size: 1.4rem;
	}
	padding-bottom: 5rem;
	.btn-twitter-nojs{
		max-width: 400px;
	}
	@include media-breakpoint-up(md) {
		.gce-feed {
			padding: 1rem .8rem;
		}
	}
}

@include media-breakpoint-up(md) {
	.mc4wp-form{
		padding: 16px 26px;
	}
}
/*
 * about page
 * @uses user template file
 */
 .page-template-template-user-blade{
	 .sidebar{
		 left: inherit;
	 }
	 .main{
		 flex: inherit;
		 max-width: inherit;
		 left: inherit;
	 }
	 .page-title{
		 padding-left: 1rem;
	 }
 }
.user-profiles{
	// display: inline-flex;
	// justify-content: space-between;
	// flex-wrap: wrap;
	h2{
		width: 100%;
	}
	.user-profile{
		text-align: center;
		flex: 1 1 auto;
    padding-bottom: 2rem;
		min-width: 180px;
		p{
			padding-right: inherit;
		}
		a:hover{
			background-color: lighten($brand-success, 20%);
		}
		@include media-breakpoint-up(md) {
			max-width: 305px;
			float: left;
			width: 100%;
		}
	}
	h3{
		font-size: 18px;
		font-weight: bold;
		color: #444;
		margin: .5rem 0 0;
	}
	.img-thumbnail{
		border-radius: 50%;
		max-width: 140px;
		height: auto;
	}
	p{
		margin: 0;
		font-size: .9rem;
		a{
			font-weight: 300;
		}
	}
	.modal-title{
		flex-wrap:wrap;
		.small{
			color: #555;
		}
		i{
			font-size: .85em;
			text-align: right;
		}
	}

}



.running-bananas{
    background-image: url(https://crownheightsrunningclub.nyc/app/uploads/2017/04/353H.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} 
/*
 * chrc store
 * @woocommerce templates
 */
.type-product{
	padding: 2rem 0;
}

