.widget{
  ul{
    padding-left: 1rem;
  }
}
.sidebar {
  @include make-col-ready();
  max-width: 250px;
  margin: 2rem 0;
  float: right;
  h3{
    font-size: 1.4rem;
    margin-top: 2rem;
    color: #333;
    font-weight: 400;
  }
  @include media-breakpoint-up(sm) {
    @include make-col-push(1);
    background: white;
    z-index: 1;
  }
  .social-svg-path{
    fill: inherit;
  }
  .social-link a:hover .social-svg-path{
    fill: $brand-primary;
  }
}