.widget{
  ul{
    padding-left: 1rem;
  }
}

/**
 * sidebar has hidden sm down class aplied
 */
.sidebar {
  // @include make-col-ready();
  left: 10%;
  position: relative;
  background: white;
  z-index: 1;
  max-width: 300px;
  margin-top: 1rem;
  padding: 2rem .5rem 2rem 1.5rem;
  float: right;
  border-left: #eee 1px solid;
  h3{
    font-size: 1.4rem;
    margin-top: 2rem;
    color: #333;
    font-weight: 400;
  }
  .social-svg-path{
    fill: inherit;
  }
  .social-link a:hover .social-svg-path{
    fill: $brand-primary;
  }
}

.sidebar-primary{
  .page-title{
    margin: 2rem 0;
  }
  .gce-feed {
    padding: 16px 12px;
  }
}
