.widget{
  ul{
    padding-left: 1rem;
  }
}
.sidebar {
  @include make-col-ready();
  max-width: 250px;
  margin: 2rem 0;
  float: right;
  .btn-lg{
    margin-bottom: 1rem;
  }
  @include media-breakpoint-up(sm) {
    @include make-col-push(1);
  }
  .social-svg-path{
    fill: inherit;
  }
  .social-link a:hover .social-svg-path{
    fill: $brand-primary;
  }
}