.ss-form-heading{
  @extend .form-text;
}

#ss-form{
  margin-top: 1rem;
  ol{
    padding: 0;
  }
  ol, ul{
    list-style: none;
  }
}

.errorheader{
  @extend .has-warning;
  @extend .form-control;
  b{
    @extend .form-control-feedback;
  }
}

.ss-form-question{
  @extend .form-group;
}

.ss-q-item-label{
  margin: 0;
}
.ss-radio label{
  display: inline;
}
.required-message{
  display: none;
  @extend .text-muted;
  font-size: .9em;
}

.ss-radio{
  @extend .form-check-input;
}
.ss-q-short{
  @extend .form-control;
}

#ss-back-button, #ss-forward-button{
  @extend .btn; 
  @extend .btn-secondary;
}
#ss-submit{
  @extend .btn; 
  @extend .btn-primary;
}

.ss-legal, .ss-password-warning{
  display: none;
}