// Grid system
.main {
  padding: 1rem 0;
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($main-sm-columns);
    left: 9%;
    .sidebar-primary & {
        left: 4%;
    }
  }
}



@if $enable-grid-classes == false{
  .container{
    @include make-container();
    max-width: 960px;
    position: relative;
  }
}
@if $enable-grid-classes == false{
  .row {
    @include make-row();
  }
}



.content{
  background: white;
}

.card{
  max-width: 402px;
  margin-bottom: 1rem;  
}



.half, .third, .two-third, .quarter{
  @include make-col-ready();
  @extend .clearfix;
}

@include media-breakpoint-up(md) {
  .quarter{ 
    @include make-col(3);
  }
  .third{ 
    @include make-col(4);
  }
  .half{
    @include make-col(6);
  }
  .two-third{ 
    @include make-col(8);
  }
}