.social-links{
	@extend .list-inline;
}
.social-links-sharer{
	margin-top: 1rem;
}

.social-link{
	@extend .list-inline-item;
}


.btn-social{
	color: white;
	text-transform: capitalize;
	font-weight: 300;
	transition: background .5s;
	font-family: verdana, sans-serif;
}
.social-svg{
	margin-right: 6px;
	position: relative;
	top: 4px;
	.svg-path{
		fill: white;
	}

}
.btn-sm{
	&.btn-social{
		padding-bottom: 7px;
	}
	.social-svg{
		margin-right: 2px;
		height: 16px;
		width: auto;
		top: 3px;
	}
}
.btn-lg{
	.social-svg{
		margin-right: 8px;
	}
}

.btn-facebook, .btn-facebook-nojs{
	background: $color-facebook;
	border: 1px solid lighten($color-facebook, 6%);
	.social-svg-path{
		fill: white;		
	}
	&:hover,
	&:focus,	
	&:active{
		background: lighten($color-facebook,7%);
		color: white;
	}
}

.btn-twitter, .btn-twitter-nojs{
	background: $color-twitter;
	border: 1px solid lighten($color-twitter, 6%);
	.social-svg-path{
		fill: white;
	}
	&:hover,
	&:focus,	
	&:active{
		background: lighten($color-twitter,7%);
		color: white;
	}
}
